face recognition/data
face recognition/dataset
face recognition/static/PhotosUpload/Azhuan.jpg
face recognition/static/PhotosUpload/Huhuking.jpg
face recognition/static/PhotosUpload/Wanglaoshi.jpg
face recognition/static/PhotosUpload/Yudaquan.jpg