<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unregistered</title>
    <style>
        .box{
            background-image: url("../static/notfound.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body class="box">
    <h1 style=" text-align:center;
               font-size:200%;
               margin-top: 250px;
               color: black;
    ">
        {{information}}
    </h1>
</body>
</html>