<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warning</title>
    <style>
        .box{
            background-image: url("../static/warning.gif");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body class="box">
 <h1 style=" text-align: left;
               font-size:200%;
               margin-top: 50px;
               color: red;
    ">
        You are too young not allowed to play
    </h1>

</body>
</html>